body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: url("flame.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

.buffer {
  height: 10rem;
}

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(235, 212, 179);
  border-color:rgb(236, 213, 178);
  z-index: 99;
}
